protected/runtime/*
!protected/runtime/.gitignore

assets/*
!assets/.gitignore

.osp

protected/config/main-local.php
protected/config/console-local.php

uploads/*
!uploads/.gitignore


.idea/
.vscode/
.DS_Store
Thumbs.db
nbproject/

vendor/
composer.lock

*.log